<h2>Welcome to The Next XYZ</h2>

<p>Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper.</p>

<p>
	<a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">TODO</h3>
  </div>
  <div class="panel-body">
  	<p>Note that this task should be done last...</p>
    <ul>
    	<li>Create a categories API endpoint (e.g. /api/categories)</li>
    	<li>List the categories here</li>
    </ul>
  </div>
</div>