<h2>Hello World! Welcome to My App</h2>

<p>Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper.</p>

<p>Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue.</p>

<p>
	<a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
</p>