<h2>Welcome to The Next Festivals</h2>

<p>
Here you can view festivals coming up in the world. Find basic info on festivals, plan the perfect holiday citytrip and share the experience with same minded people worldwide.
</p>

<p>
	<a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
</p>

{{!-- <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">TODO</h3>
  </div>
  <div class="panel-body">
  	<p>Note that this task should be done last...</p>
    <ul>
    	<li>Create a categories API endpoint (e.g. /api/categories)</li>
    	<li>List the categories here</li>
    </ul>
  </div>
</div> --}}