<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>Welcome to My App. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam qui soluta beatae autem fugiat pariatur, ea nihil est explicabo consectetur nesciunt, eius, quas rerum eos! Laudantium recusandae nisi rem atque.</p>
  <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
</div>