<div class="jumbotron">
	<h1>The Next Festivals</h1>
	<p><strong>Welcome to The Next Festivals</strong>. Here you can view festivals coming up in the world. Find basic info on festivals, plan the perfect holiday citytrip and share the experience with same minded people worldwide.</p>
	<p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
</div>
<div class="row" id="articles">
	{{#each articles}}
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<div class="thumbnail-container" style="background-image: url({{image}})"></div>
			<div class="caption">
				<a href="http://localhost:1337/article/{{_id}}">
					<h3>{{title}}</h3>
				</a>
			</div>
		</div>
	</div>
	{{/each}}

</div>

{{!-- <div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">TODO</h3>
	</div>
	<div class="panel-body">
		<ul>
			<li>Pull in the above three news articles off of the appropriate API endpoint (http://localhost:1337/api/articles)</li>
			<li>Include a background image with text on top (and maybe even a nice hover state</li>
			<li>Have each one link to it's own page (e.g. http://localhost:1337/api/articles/1)</li>
			<li>You'll then need to build the above page</li>
		</ul>
	</div>
</div>
 --}}