<h2>Login</h2>
<p>Login to The Next XYZ below. If you need to create an account, you can <a href="/register"><strong>register here</strong></a>.</p>
<form action="/login" method="post">
  <div class="form-group">
  <label for="userEmail">Email address</label>
    <input name="username" type="email" class="form-control" id="userEmail" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-inverse btn-lg">Login</button>
</form>