<h2>Register</h2>
<p>Register for The The Next below...</p>
<form action="/register" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input name="name" type="name" class="form-control" id="exampleInputName1" placeholder="Full Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-inverse btn-lg">Register</button>
</form>
<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">TODO</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>Upon submission of the form, store the user information in memory (to simulate signing up / logging in)</li>
      <li>Consider either of the following two approaches: https://www.npmjs.com/package/express-users or http://passportjs.org</li>
      <li>Once in memory use this information to display it on /dashboard view</li>
    </ul>
  </div>
</div>